newspaper3k==0.2.8
openai==1.102.0
openai_whisper==20250625
python-dotenv==1.1.1
yt_dlp==2025.8.22
streamlit==1.40.2
plotly==5.24.1
streamlit-option-menu==0.4.0
requests==2.32.4
Pillow==10.4.0
PyPDF2==3.0.1
python-docx==1.1.2
openpyxl==3.1.5
wordcloud==1.9.3
feedparser==6.0.11
lxml_html_clean==0.4.2
